.container-fluid{
    background-color: snow;
    padding: 20px;
}

h1{
    font-family: garamond;
    font-size: 35px;
    font-weight: bold;
}
h1, h3{
    display: inline;
}

#agregar{
    font-size: 10px;
}
.bi{
    size: 10px;
}


h3{
    font-family: garamond;
    font-size: 20 px;
}

h1{
    font-family: garamond;
    font-size: 35px;
    font-weight: bold;
}

#agregar{
    font-size: 10px;
}
.bi{
    size: 10px;
}

#fotoproyecto{
    width: 200px;
    height: 200px;
}


table{
    table-layout: fixed;
    width: 100%;
}

#columnaimagen{
    width:100%
}
