<div class="container" *ngIf="acerca">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" >
                <div class="form-group">
                    <label for="info">Actualiza aquí la información sobre tus intereses y otros datos que consideres relevantes</label>
                    <!-- <input type="text-area" class="form-control" id="info" name="info" [(ngModel)]="acerca.info" required> -->
                    <p><textarea name="acercade" cols="70" rows="10" [(ngModel)]="acerca.info" required></textarea></p>
                </div>
                
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>


